{% extends 'base.html.twig' %}

{% block title %}La liste des entreprises{% endblock %}

{% block body %}
<h1 class="text-4xl font-light tracking-[-0.55px] leading-[1.2] mb-3">Gestion des entreprises</h1>

<div {{ react_component('Administration/EntrepriseTable', {
        entreprises: entreprises
    }) }} class="mb-3"
>
    <div class="flex items-center justify-center gap-6">
        <twig:Spinner class="size-8" />
    </div>
</div>
{% endblock %}